@model eBook.Models.Comment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Are you sure you want to delete this comment?</h4>
    <hr />
    <dl class="dl-horizontal row">
        <dt class="col-md-5">
            @Html.DisplayNameFor(model => model.RelatedPost.Title)
        </dt>

        <dd class="col-md-5">
            @Html.DisplayFor(model => model.RelatedPost.Title)
        </dd>

        <dt class="col-md-5">
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd class="col-md-5">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-md-5">
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd class="col-md-5">
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt class="col-md-5">
            @Html.DisplayNameFor(model => model.Site)
        </dt>

        <dd class="col-md-5">
            @Html.DisplayFor(model => model.Site)
        </dd>

        <dt class="col-md-5">
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd class="col-md-5">
            @Html.DisplayFor(model => model.Body)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div>
            @Html.ActionLink("Go Back", "Index", null, new {@class = "btn btn-info float-left"})
            <input type="submit" value="Delete" class="btn btn-danger float-right"/> 
        </div>
    }
</div>
