@using eBook.Controllers
@using eBook.App_Start

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eBook</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <header>
        <h1 class="title text-center bg-info">EBOOK</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ebook-navbar">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">@Html.ActionLink("Home", "Index", "Books", null, new { @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("About", "Index", "About", null, new { @class = "nav-link" })</li>
            @*Add New book *@
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">@Html.ActionLink("Add New Book", "Create", "Books", null, new { @class = "nav-link" })</li>
            }
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="navbar-text">
                <span class="icon fa-temperature-high"></span>
                <span id="temperature"></span>
                <span id="city"></span>
            </li>
            <li class="nav-item">
                @if (!User.Identity.IsAuthenticated)
                {
                <li>@Html.ActionLink("Login", "Login", "Users", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Register", "Register", "Users", null, new { @class = "nav-link" })</li>
            }
            else
            {
                if (User.IsInRole(IdentityConfigGlobals.MANAGER_ROLE))
                {
                    <li> @Html.ActionLink("Manage Users", "List", "Users", null, new { @class = "nav-link" }) </li>
                }


                <li> @Html.ActionLink("Statistics", "Index", "Statistics", null, new { @class = "nav-link" })</li>
                <li> @Html.ActionLink("Log Out", "LogOut", "Users", null, new { @class = "nav-link" })</li>
            }
                </li>
            </ul>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Guy Yossi & Amit's Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/d3")
        <script src="~/Scripts/script.js"></script>

        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            'use strict';

            function invokeMap(uluru) {
                if (!document.getElementById('map')) {
                    return;
                }

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 4,
                    center: uluru
                });

                /*var geocoder = new google.maps.Geocoder();
                geocoder.geocode({
                    "address": "books"
                }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        new google.maps.Marker({
                            position: results[0].geometry.location,
                            map: map
                        });
                    }
                });*/
            }

            /*function initMap() {
                $(document).ready(function () {
                    var defaultPosition = { lat: 32.074302, lng: 34.791007 };
                    if ("geolocation" in navigator) {
                        navigator.geolocation.getCurrentPosition(function (position) {
                            invokeMap({ lat: position.coords.latitude, lng: position.coords.longitude });
                            }, function (error) {
                                // Default position if an error occured (e.g. user denied)
                                invokeMap(defaultPosition);
                            });
                    } else {
                        *//* geolocation IS NOT available *//*
                        invokeMap(defaultPosition);
                    }
                });
            }*/
        </script>
        <script 
                src="https://maps.googleapisi/js?key=AIzaSyC6mI8I-aMfivZt6nyqNbSCKcNGAQoC2hE&callback=initMap">
        </script>
    </body>
</html>
