@model IEnumerable<eBook.Models.User>
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-md-3">
            @using (Html.BeginForm("Search", "Users", FormMethod.Get))
            {
                <h3>Filter Users</h3>
                <div class="form-group">
                    <label for="username-filter">Username:</label>
                    <input type="text" name="username" id="username-filter" class="form-control">
                </div>
                <div class="form-group">
                    <label for="from-date-filter">Birthday From:</label>
                    <input type="date" name="fromDate" id="from-date-filter" class="form-control">
                </div>
                <div class="form-group">
                    <label for="to-date-filter">Birthday To:</label>
                    <input type="date" name="toDate" id="to-date-filter" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email-filter">Email: </label>
                    <input type="text" name="email" id="email-filter" class="form-control">
                </div>
                <div class="form-group">
                    <label for="address-filter">Address:</label>
                    <input type="text" name="address" id="address-filter" class="form-control">
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success form-control" />
                </div>
            }
        </div>
        <div class="col-md-8 offset-md-1">
            <div id="map" class="justify-content-center"></div>
            @Scripts.Render("~/bundles/modernizr")
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")

            <script>
                // Initialize and add the map
                function initMap() {
                    // The location of Uluru
                    var uluru = { lat:  32.074302, lng: 34.791007};
                    // The map, centered at Uluru             
                    var map = new google.maps.Map(
                        document.getElementById('map'), { zoom: 7, center: uluru });

                    $.ajax({
                        type: 'GET',
                        url: '/Users/getAddresses',
                        dataType: 'html',
                        success: function (data) {
                            var users = JSON.parse(data);
                            var isMapCenter;
                            $.each(users, function (i, item) {
                                var geocoder = new google.maps.Geocoder();
                                geocoder.geocode({
                                    "address": item.Address
                                }, function (results, status) {
                                        if (status == google.maps.GeocoderStatus.OK) {
                                            if (!isMapCenter) {
                                                map.setCenter(results[0].geometry.location);
                                                isMapCenter = true;
                                            }

                                            new google.maps.Marker({
                                                position: results[0].geometry.location,
                                                label: item.UserName.substr(0, 2).toUpperCase(),
                                                title: item.UserName,
                                                map: map
                                            });
                                    }
                                }
                                );
                            });

                        },
                        error: function (ex) {
                            var r = jQuery.parseJSON(response.responseText);
                            alert("Message: " + r.Message);
                            alert("StackTrace: " + r.StackTrace);
                            alert("ExceptionType: " + r.ExceptionType);
                        }
                    });
                }
            </script>
            <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6mI8I-aMfivZt6nyqNbSCKcNGAQoC2hE&callback=initMap">
            </script>
        </div>
    </div>

<div class="row">
    <table class="table table-hover users-table">
        <thead class="thead-inverse">
            <tr>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.Birthday)
                </th>
                <th></th> @* Edit and Delete *@
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => user.UserName)</td>
                <td>@Html.DisplayFor(modelItem => user.Email)</td>
                <td>@Html.DisplayFor(modelItem => user.Address)</td>
                <td>@Html.DisplayFor(modelItem => user.Birthday)</td>
                <td>
                <td>
                    <a href="@Url.Action("Update", "Users", new {id = user.Id})" title="Edit">
                        <i class="fa fa fa-pencil fa-4"></i>
                    </a>
                    |
                    <a href="@Url.Action("Remove", "Users", new {id = user.Id})" title="Delete">
                        <i class="fa fa-trash-o fa-4"></i>
                    </a>
                </td>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>